.container-featured {
  display: flex;
  position: relative;

  .content-search {
    position: absolute;
    top: 50%;
    left: 10%;
    background: rgb(255,255,255,0.5);
    padding: 10px;
    border-radius: 10px;

    p {
      width: 150px;
      font-size: 20px;
      color: var(--dark-blue);
      font-weight: bolder;
    }

    .form {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    
      .input {
        width: 250px;
        height: 40px;
        padding-left: 10px;
      }
    
      .button-search {
        display: flex;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        background-color: var(--button);
    
        &:hover {
          background-color: var(--button-hover);
        }
        
        .search-icon {
          font-size: 20px;
          color: white;
          margin: auto;
        }
      }
    }
  }

  .image-featured {
    width: 100%;
  }
}

.container-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white02);
  padding: 50px 0;

  h2 {
    color: var(--dark-blue);
  }

  p {
    width: 80%;
    text-align: center;
    color: var(--dark-gray);
    line-height: 30px;
  }

  .content-cards-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
}

.container-service {
  display: flex;
  position: relative;

  .image-service {
    width: 100%;
  }
  
  .content-service {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255,0.5);
    padding: 10px;
    border-radius: 10px;

    h2 {
      color: var(--dark-blue);
      text-align: center;
    }

    p {
      text-align: justify;
    }

    button {
      background-color: var(--button);
      color: var(--white);
      font-size: 12px;
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
      box-shadow: 0 3px 5px var(--button-hover);

      &:hover {
        background-color: var(--button-hover);
      }
    }
  }
}

.container-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white02);
  padding: 50px 0 30px;

  h2 {
    color: var(--dark-blue);
  }

  p {
    width: 80%;
    text-align: center;
    color: var(--dark-gray);
    line-height: 30px;
  }

  .content-slider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

.container-join {
  display: flex;
  position: relative;

  .content-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255,0.5);
    padding: 10px;
    border-radius: 10px;

    p {
      width: 100%;
      font-size: 20px;
      color: var(--dark-blue);
      font-weight: bolder;
    }

    .form {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    
      .input {
        width: 250px;
        height: 40px;
        padding-left: 10px;
      }
    
      .button-join {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        background-color: var(--button);
        color: var(--white);
        font-weight: bold;
        box-shadow: 0 3px 5px var(--button-hover);
    
        &:hover {
          background-color: var(--button-hover);
        }
      }
    }
  }

  .image-join {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .container-featured {
    position: initial;
    justify-content: space-between;
    align-items: center;

    .content-search {
      position: initial;
      margin: auto;

      p {
        font-size: 25px;
      }

      .form {
        margin-top: 25px;

        .input {
          width: 200px;
        }
      }
    }

    .image-featured {
      width: 60%;
    }
  }

  .container-service {
    position: initial;
    justify-content: space-between;
    align-items: center;

    .image-service {
      width: 60%;
    }

    .content-service {
      position: initial;
      transform: none;
      padding-right: 20px;
    }

    h2 {
      text-align: left !important;
    }

    p {
      text-align: left !important;
      color: var(--dark-gray);
    }
  }

  .container-join {
    position: initial;
    justify-content: space-around;
    align-items: center;

    .content-search {
      position: initial;
      transform: none;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 270px;
        text-align: left;
        font-size: 25px;
      }

      .form {
        margin-top: 25px;

        .input {
          width: 200px;
        }
      }
    }

    .image-join {
      width: 60%;
    }
  }
}

@media (min-width: 800px) {
  .content-cards-recipes {
    width: 90%;
    flex-direction: initial !important;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-recipes {
    p {
      width: 450px !important;
    }
  }

  .container-blog {
    p {
      width: 450px !important;
    }
  }

  .button-join {
    padding: 0px 30px !important;
  }
}

@media (min-width: 1000px) {
  .container-featured {
    .content-search {
      p {
        width: 250px !important;
        font-size: 40px !important;
      }
    
      .input {
        width: 250px !important;
      }
    }
  }

  .content-service {
    width: 100% !important;

    h2 {
      width: 80%;
    }

    p {
      width: 80%;
    }
    button {
      padding: 15px 20px !important;
      font-size: 15px !important;
    }
  }

  .container-join {
    .content-search {
      p {
        width: 350px !important;
        font-size: 32px !important;
      }
    
      .input {
        width: 250px !important;
      }
      
      .button-join {
        padding: 0 50px !important;
      }
    }
  }
}